html,body				{  height: 100%;  }
#wrap					{  height: auto !important; margin: 0 auto -60px; min-height: 100%;  }
section.lead			{  border-bottom: 1px solid #eee; overflow: auto;  
	form				{  margin: 12px 0 0;  }
}
#results-region small	{  margin: 17px 0;  }
.thumbnail				{  max-width: 61px; max-height: 91px;  }
.text-center			{  text-align: center;  }